

/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(../assets/up-down-arrow.png) no-repeat center center;
    background-size: 40%;
    width: 1em;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 20px;
}
input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active{
    opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}


.li-number {
    font-size:35px;
    font-weight:bold;
    width: 70px;
    height: 70px;
}

.border-bottom {
    border-bottom: 1px solid rgb(233, 230, 230)!important;
}